# Cmake
/CMakeFiles/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
googletest-*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PacketDescriptorsProcessing/PacketDescriptorsProcessing
PacketDescriptorsProcessing/runUnitTests
BitSet/BitSet
BitSet_Popcnt/BitSet_Popcnt
MultiVersionInline/MultiVersionInline
PacketDescriptorsProcessing/PacketDescriptorsPrefetching
PacketDescriptorsProcessing/PacketDescriptorsPacking
AvxThrottle/FloatCrunching
AvxBitmaskDistribute/runUnitTests
AvxBitmaskDistribute/BitmaskDistribute
FastMerging/FastMerging
